* {
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fb;
    color: #222;
    transition: 0.3s;
}

header{
    background:#0057b8;
    color:white;
}

/* Logo */
.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Banner */
.banner {
    background: linear-gradient(
        rgba(0, 87, 184, 0.8),
        rgba(0, 160, 120, 0.8)
    );
}

/* Banner */
main {
    background: linear-gradient(
        rgba(0, 87, 184, 0.8),
        rgba(0, 160, 120, 0.8)
    );
}

/* Botões de acessibilidade */
.acoes button {
    border: none;
}

/* MODO ESCURO */
.dark {
    background: #121212;
    color: white;
}

.dark .card {
    background: #222;
    color: white;
}

.dark header,
.dark footer {
    background: #000 !important;
}

/* Links no modo escuro */
.dark nav a {
    color: white !important;
}

footer{
    text-align:center;
    padding:20px;
    background:#0057b8;
    color:white;
}

/* Menu */
.menu-link {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;

    color: white;
    text-decoration: none;

    background: transparent;

    transition: 0.3s;
}

/* Quando passar o mouse */
.menu-link:hover {
    background: #87ceeb;
    color: #003b73;
}

/* Link selecionado */
.menu-link.ativo {
    background: #87ceeb;
    color: #003b73;
    font-weight: bold;
}